### UNION vs. UNION ALL
* Two tables, languages and currencies, are provided. Run the queries provided in the console and select the correct answer for the multiple-choice questions in this exercise.

###  Both queries on the left and right of the set operation must have the same data types. The names of the fields do not need to be the same, as the result will always contain field names from the left query.

### Comparing global economies
* In this exercise, you have two tables, economies2015 and economies2019, available to you under the tabs in the console. You'll perform a set operation to stack all records in these two tables on top of each other, excluding duplicates.

#### Begin your query by selecting all fields from economies2015.
#### Create a second query that selects all fields from economies2019.
#### Perform a set operation to combine the two queries you just created, ensuring you do not return duplicates.

-- Select all fields from economies2015
SELECT *
FROM economies2015  
-- Set operation
UNION
-- Select all fields from economies2019
SELECT *
FROM economies2019
ORDER BY code, year;

**UNION can be helpful for consolidating data from multiple tables into one result, which as you have seen, can then be ordered in meaningful ways.**

### Comparing two set operations
* You learned in the video exercise that UNION ALL returns duplicates, whereas UNION does not. In this exercise, you will dive deeper into this, looking at cases for when UNION is appropriate compared to UNION ALL.

* You will be looking at combinations of country code and year from the economies and populations tables.

#### Perform an appropriate set operation that determines all pairs of country code and year (in that order) from economies and populations, excluding duplicates.
#### Order by country code and year.

-- Query that determines all pairs of code and year from economies and populations, without duplicates
SELECT code, year
FROM economies
UNION 
SELECT country_code, year
FROM populations
ORDER BY code, year;

#### Amend the query to return all combinations (including duplicates) of country code and year in the economies or the populations tables.

SELECT code, year
FROM economies
-- Set theory clause
UNION ALL
SELECT country_code, year
FROM populations
ORDER BY code, year;

### INTERSECT
* Let's say you are interested in those countries that share names with cities. Use this task as an opportunity to show off your knowledge of set theory in SQL!

#### Return all city names that are also country names.

-- Return all cities with the same name as a country
SELECT name
FROM countries
INTERSECT
SELECT name
FROM cities;

**INTERSECT is a robust set operation for finding the set of identical records between two sets of records.**

### You've got it, EXCEPT...
* Just as you were able to leverage INTERSECT to find the names of cities with the same names as countries, you can also do the reverse, using EXCEPT.

#### Return all cities that do not have the same name as a country.

-- Return all cities that do not have the same name as a country
SELECT name
FROM cities
EXCEPT
SELECT name
FROM countries
ORDER BY name;

**Note that if countries had been on the left and cities on the right, you would have returned the opposite: all countries that do not have the same name as a city.**