# JOINS

### Inner Joins
* Throughout this course, you'll be working with the countries database, which contains information about the most populous world cities in the world, along with country-level economic, population, and geographic data. The database also contains information on languages spoken in each country.

* You can see the different tables in this database to get a sense of what they contain by clicking on the corresponding tabs. Click through them and familiarize yourself with the fields that seem to be shared across tables before you continue with the course.

#### Begin by selecting all columns from the cities table, using the SQL shortcut that selects all.

SELECT *
FROM cities;

#### Perform an inner join with the cities table on the left and the countries table on the right; do not alias tables here or in the next step.
#### Identify the relevant column names to join ON by inspecting the cities and countries tabs in the console.

SELECT * 
FROM cities
-- Inner join to countries
INNER JOIN countries
-- Match on country codes
ON countries.code = cities.country_code;

####  Complete the SELECT statement to keep only the name of the city, the name of the country, and the region the country is located in (in the order specified).
#### Alias the name of the city AS city and the name of the country AS country.

SELECT cities.name AS city,
    countries.name AS country,
    countries.region AS region
FROM cities
INNER JOIN countries
ON cities.country_code = countries.code;

### Joining with aliased tables
* When writing joins, many SQL users prefer to write the SELECT statement after writing the join code, in case the SELECT statement requires using table aliases.

#### Start with your inner join in line 5; join the tables countries AS c (left) with economies (right), aliasing economies AS e.
#### Next, use code as your joining field in line 7; do not use the USING command here.
#### Lastly, select the following columns in order in line 2: code from the countries table (aliased as country_code), name, year, and inflation_rate.

-- Select fields with aliases
SELECT c.code AS country_code,
    c.name,
    e.year,
    e.inflation_rate
FROM countries AS c
-- Join to economies (alias e)
INNER JOIN economies AS e
-- Match on code field using table aliases
ON c.code = e.code;

### USING in action
* In the previous exercises, you performed your joins using the ON keyword. Recall that when both the field names being joined on are the same, you can take advantage of the USING clause.

#### Use the country code field to complete the INNER JOIN with USING; do not change any alias names.

SELECT c.name AS country, l.name AS language, official
FROM countries AS c
INNER JOIN languages AS l
-- Match using the code column
USING(code);

### Inspecting a relationship
* This exercise looks at each of these in turn. First, what is the best way to query all the different languages spoken in a country? And second, how is this different from the best way to query all the countries that speak each language?

#### Start with the join statement in line 6; perform an inner join with the countries table as c on the left with the languages table as l on the right.
#### Make use of the USING keyword to join on code in line 8.
#### Lastly, in line 2, select the country name, aliased as country, and the language name, aliased as language.

-- Select country and language names, aliased
SELECT c.name AS country,
    l.name AS language
-- From countries (aliased)
FROM countries AS c
-- Join to languages (aliased)
INNER JOIN languages AS l
-- Use code as the joining field with the USING keyword
USING(code);

#### Rearrange the SELECT statement so that the language column appears on the left and the country column on the right.
#### Sort the results by language.

-- Rearrange SELECT statement, keeping aliases
SELECT l.name AS language,
    c.name AS country
FROM countries AS c
INNER JOIN languages AS l
USING(code)
-- Order the results by language
ORDER BY language;

### Joining multiple tables
* Suppose you are interested in the relationship between fertility and unemployment rates. Your task in this exercise is to join tables to return the country name, year, fertility rate, and unemployment rate in a single result from the countries, populations and economies tables.

#### Perform an inner join of countries AS c (left) with populations AS p (right), on code.
#### Select name, year and fertility_rate.

-- Select relevant fields
SELECT name,
    year,
    fertility_rate
FROM countries AS c
-- Inner join countries and populations, aliased, on code
INNER JOIN populations AS p
ON c.code = p.country_code;

#### Chain another inner join to your query with the economies table AS e, using code.
#### Select name, and using table aliases, select year and unemployment_rate from economies.

SELECT name, e.year, fertility_rate, unemployment_rate
FROM countries AS c
INNER JOIN populations AS p
ON c.code = p.country_code
INNER JOIN economies AS e
ON c.code = e.code

### Checking multi-table joins
* Instead of four records, the query should return two: one for each year. The last join was performed on c.code = e.code, without also joining on year. Your task in this exercise is to fix your query by explicitly stating that both the country code and year should match!

SELECT name, e.year, fertility_rate, unemployment_rate
FROM countries AS c
INNER JOIN populations AS p
ON c.code = p.country_code
INNER JOIN economies AS e
ON c.code = e.code
-- Add an additional joining condition such that you are also joining on year
	AND e.year = p.year;