### Semi join
#### Select country code as a single field from the countries table, filtering for countries in the 'Middle East' region.

-- Select country code for countries in the Middle East
SELECT code
FROM countries
WHERE region = 'Middle East';

#### Write a second query to SELECT the name of each unique language appearing in the languages table; do not use column aliases here.
#### Order the result set by name in ascending order.

-- Select unique language names
SELECT DISTINCT(name)
FROM languages
-- Order by the name of the language
ORDER BY name;

#### Create a semi join out of the two queries you've written, which filters unique languages returned in the first query for only those languages spoken in the 'Middle East'.

SELECT DISTINCT name
FROM languages
-- Add syntax to use bracketed subquery below as a filter
WHERE code IN
    (SELECT code
    FROM countries
    WHERE region = 'Middle East')
ORDER BY name;

### Diagnosing problems using anti join
* It can be particularly useful for identifying whether an incorrect number of records appears in a join.

#### Begin by writing a query to return the code and name (in order, not aliased) for all countries in the continent of Oceania from the countries table.
#### Observe the number of records returned and compare this with the provided INNER JOIN, which returns 15 records.

-- Select code and name of countries from Oceania
SELECT code, name
FROM countries
WHERE continent = 'Oceania';

#### Now, build on your query to complete your anti join, by adding an additional filter to return every country code that is not included in the currencies table.

SELECT code, name
FROM countries
WHERE continent = 'Oceania'
-- Filter for countries not included in the bracketed subquery
  AND code NOT IN
    (SELECT code
    FROM currencies);

### Subquery inside WHERE
#### Begin by calculating the average life expectancy from the populations table.
#### Filter your answer to use records from 2015 only.

-- Select average life_expectancy from the populations table
SELECT AVG(life_expectancy)
FROM populations
-- Filter for the year 2015
WHERE year = 2015;

#### The answer from your query has now been nested into another query; use this calculation to filter populations for all records where life_expectancy is 1.15 times higher than average.

SELECT *
FROM populations
-- Filter for only those populations where life expectancy is 1.15 times higher than average
WHERE life_expectancy > 1.15 *
  (SELECT AVG(life_expectancy)
   FROM populations
   WHERE year = 2015) 
    AND year = 2015;

### WHERE do people live?

#### Return the name, country_code and urbanarea_pop for all capital cities (not aliased).

-- Select relevant fields from cities table
SELECT name, country_code, urbanarea_pop
FROM cities
-- Filter using a subquery on the countries table
WHERE name IN
  (SELECT capital
   FROM countries)
ORDER BY urbanarea_pop DESC;

### Subquery inside SELECT
#### Write a LEFT JOIN with countries on the left and the cities on the right, joining on country code.
#### In the SELECT statement of your join, include country names as country, and count the cities in each country, aliased as cities_num.
#### Sort by cities_num (descending), and country (ascending), limiting to the first nine records.

-- Find top nine countries with the most cities
SELECT countries.name AS country, COUNT(*) AS cities_num
FROM countries
LEFT JOIN cities
ON countries.code = cities.country_code
GROUP BY country
-- Order by count of cities as cities_num
ORDER BY cities_num DESC, country
LIMIT 9;

#### Complete the subquery to return a result equivalent to your LEFT JOIN, counting all cities in the cities table as cities_num.
#### Use the WHERE clause to enable the correct country codes to be matched in the cities and countries columns.

SELECT countries.name AS country,
-- Subquery that provides the count of cities   
  (SELECT COUNT(name)
   FROM cities
   WHERE countries.code = cities.country_code) AS cities_num
FROM countries
ORDER BY cities_num DESC, country
LIMIT 9;

### Subquery inside FROM
* Subqueries inside FROM can help select columns from multiple tables in a single query.

#### Begin with a query that groups by each country code from languages, and counts the languages spoken in each country as lang_num.
#### In your SELECT statement, return code and lang_num (in that order).

-- Select code, and language count as lang_num
SELECT languages.code, COUNT(name) AS lang_num
FROM languages
GROUP BY languages.code;

#### Select local_name from countries, with the aliased lang_num from your subquery (which has been nested and aliased for you as sub).
#### Use WHERE to match the code field from countries and sub.

-- Select local_name and lang_num from appropriate tables
SELECT countries.local_name, sub.lang_num
FROM countries,
  (SELECT code, COUNT(*) AS lang_num
  FROM languages
  GROUP BY code) AS sub
-- Where codes match
WHERE countries.code = sub.code
ORDER BY lang_num DESC;

### Subquery challenge

-- Select relevant fields
SELECT code, inflation_rate, unemployment_rate
FROM economies
WHERE year = 2015 
  AND code NOT IN
-- Subquery returning country codes filtered on gov_form
    (SELECT code
     FROM countries
     WHERE (gov_form LIKE '%Monarchy%' OR gov_form LIKE '%Republic%'))
ORDER BY inflation_rate;

### Final challenge

-- Select fields from cities
SELECT 
	name, 
    country_code, 
    city_proper_pop, 
    metroarea_pop,
    city_proper_pop / metroarea_pop * 100 AS city_perc
FROM cities
-- Use subquery to filter city name
WHERE name IN
  (SELECT capital
   FROM countries
   WHERE (continent = 'Europe'
   OR continent LIKE '%America'))
-- Add filter condition such that metroarea_pop does not have null values
	  AND metroarea_pop IS NOT NULL
-- Sort and limit the result
ORDER BY city_perc DESC
LIMIT 10;