## Writing your first query
* The ERD you saw in the video is part of a digital media store's data model offering services similar to iTunes. The company is called eSymphony. It includes tables for artists, albums, media tracks, invoices, and customers.
* Let's start exploring the data! In this exercise, you will use SELECT statements to show the relevant columns from a database table.

### Select the Title column from the Album table.

-- Select the title from the album table
SELECT title
FROM ALBUM

### Select the LastName from the Customer table.

-- Select the last name from the customer table
SELECT lastname
FROM CUSTOMER

### Select the LastName and Country from the Customer table.

-- Select the last name and country from the customer table
SELECT lastname, country
FROM CUSTOMER

## Removing duplicates
* Let's dig a little bit deeper into the database. You want to find out which composers have written a song that is sold by eSymphony.
* Since composers can write multiple songs, your results will probably include many duplicate values. If you want to select all unique values from a column, you can use the DISTINCT keyword.

### Select the Composer column from the Track table.

-- Select the composers from the track table
SELECT composer
FROM TRACK

### Get all the unique composers represented in the Track table.

-- Select the unique composers from the track table
SELECT DISTINCT(composer)
FROM Track

## Working with strings
* Let's combine some information from multiple columns into a single output column. This time, you want to find out where the eSymphony employees are living.
* In order to present your results in an organized way, you will use the concatenation operator, literal character strings, and the alternative quote operator that were introduced in the video.

### Select the FirstName and Country from the Employee table.

-- Select the first name and country from the employee table
SELECT firstname, country
FROM EMPLOYEE

### Create a message similar to this one: Jack lives in Australia.

-- Create a custom message 
SELECT firstname || ' lives in ' || Country
FROM Employee

### Create a message similar to this one: Jack's home country is Australia.

-- Create a custom message
SELECT FirstName || q'['s home country is ]' || Country
FROM Employee

## Arithmetic expressions
* You just heard that there is a 50 cent transaction fee for people buying music on eSymphony. Let's create a new column that holds the final amount a customer has paid. The information you need is in the Total column of the Invoice table.
* Remember that in the SELECT statement you can use the following arithmetic operators: +, -, *, and /.

### Add 0.50 to the total amount listed on the invoice.

-- Add 50 cents to the total amount
SELECT  total + 0.50 
FROM INVOICE

## Ordering
* In this exercise, you'll practice ordering the eSymphony data. You want to present the employee data in an organized manner using these columns:
   * Title: The job title of the employee.
   * BirthDate: The birth date of the employee.
* Doing this will make it easy to spot the oldest and youngest employees in each position.

### Select the last name, job title, and birth date from the Employee table.

-- Select the relevant fields from the employee table
SELECT lastname, title, birthdate
FROM EMPLOYEE

### Order the result by job title.

-- Select the relevant fields from the employee table
SELECT LastName, Title, BirthDate
FROM Employee
-- Order by job title
ORDER BY Title

### Order the result by job title and birth date, where the oldest employee is displayed first.

-- Select the relevant fields from the employee table
SELECT LastName, Title, BirthDate 
FROM Employee
-- Order by job title and descending birth date
ORDER BY Title DESC, BirthDate DESC

## Comparison operators
* You won't always want to retrieve every row in your database. Sometimes it's easier to display specific information needed to answer a specific question.
* Let's look have a look at the invoice data. You are asked to retrieve only a selection of the invoices based on the invoice amount.
* Remember that you can use the following operators to compare values: <, <=, >, >=, = and <>.

### Select the InvoiceId and Total amount from the Invoice table and display rows where the total amount is equal to 3.98.

-- Select the relevant columns and filter based on the condition
SELECT invoiceid, total
FROM INVOICE
WHERE total = 3.98

### Adapt your query to only include rows where the total amount is greater than 3.98.

-- Select the relevant columns and filter based on the condition
SELECT InvoiceId, Total
FROM Invoice
WHERE Total > 3.98

### Adapt your query to only include rows where the total amount is smaller than or equal to 3.98.### Adapt your query to only include rows where the total amount is smaller than or equal to 3.98.

-- Select the relevant columns and filter based on the condition
SELECT InvoiceId, Total
FROM Invoice
WHERE Total <= 3.98

### Adapt your query to only include rows where the total amount is not equal to 3.98.

-- Select the relevant columns and filter based on the condition
SELECT InvoiceId, Total
FROM Invoice
WHERE Total <> 3.98

## Logical operators
* You are interested in listing songs performed by Queen. Note that these songs can be composed by either the entire band or an individual band member. In your query you decide to retrieve songs where the composer is Queen or their lead singer, Freddie Mercury.
* Remember that there are three logical operators, AND, OR, and NOT that can be used to apply more than one WHERE condition to your query.

### Select the song name and composer from the Track table.
### Filter on tracks that are composed by 'Queen' or by 'Mercury- Freddie'.

-- Select the song name and composer from the track table
SELECT name, composer
FROM TRACK
-- Filter on composer
WHERE Composer = 'Queen' 
      OR Composer = 'Mercury- Freddie'

## Comparison keywords
* In this exercise, you will do some more advanced filtering. The sales support department received a call from a customer asking for some more information about the Queen repertoire. Steve, the sales support agent, let the customer know he would call them back after looking into this. The problem is he forgot to write down the customer's name. All he can remember is that it starts with a B and they are living in a non-English speaking country. Let's look for this customer.

### Filter on customers with a last name that starts with the letter B.

SELECT LastName, Country
FROM Customer
-- Filter on the customer last name
WHERE LastName LIKE 'B%'

### Add another filter to the query to only select customers living in the USA, Canada, or the United Kingdom.

SELECT LastName, Country
FROM Customer
-- Filter on the customer last name
WHERE LastName LIKE 'B%' 
	  -- Filter on English speaking countries
      AND Country IN ('USA', 'Canada', 'United Kingdom')

### Adapt the last condition to only include customers living anywhere but in the USA, Canada, or the United Kingdom.

SELECT LastName, Country
FROM Customer
-- Filter on the customer last name
WHERE LastName LIKE 'B%'
      -- Filter on non-English speaking countries
      AND Country NOT IN ('USA', 'Canada', 'United Kingdom')