## Getting started with group functions
* The accounting department of eSymphony needs a report with the lowest, highest, sum, and average invoice amounts. The columns need to be labeled MINIMUM, MAXIMUM, SUM, and AVERAGE, respectively.
* MINIMUM	MAXIMUM	SUM	AVERAGE
  0.99	25.86	2328.6	5.651942
Let's help them out.

### Calculate the minimum, maximum, sum, and average of the Total invoice amount.
### Retrieve the data from the Invoice table.

-- Calculate the required values from the Invoice table
SELECT MIN(total), 
       MAX(total), 
       SUM(total), 
       AVG(total)
FROM INVOICE

### Label the columns MINIMUM, MAXIMUM, SUM, and AVERAGE.

-- Add column aliases
SELECT MIN(Total) AS MINIMUM, 
       MAX(Total) AS MAXIMUM, 
       SUM(Total) AS SUM, 
       AVG(Total) AS AVERAGE
FROM Invoice

## Counting
* You are interested in figuring out where the customers of eSymphony are ordering from. Specifically, you want to know from how many different U.S.A. orders are coming in.
* To calculate this you will need to include a filter to your data before applying the correct group function. Let's start building this query!

### Count the number of (non-missing) billing cities in the Invoice table.
### Filter on invoices where the billing country is the USA.

-- Count the number of billing cities
SELECT COUNT(billingcity)
FROM INVOICE
-- Filter on rows where the billing country is the USA
WHERE billingcountry = 'USA'

### Count the number of unique billing cities in the Invoice table.

-- Count the number of unique billing cities in the Invoice table
SELECT COUNT(DISTINCT billingcity)
FROM Invoice
-- Filter on rows where the billing country is the USA
WHERE BillingCountry = 'USA'

### Alias the result as Number of US cities.

-- Add the column alias
SELECT COUNT(DISTINCT BillingCity) AS "Number of US cities"
FROM Invoice
-- Filter on rows where the billing country is the USA
WHERE BillingCountry = 'USA'

## Grouping
* People all over the world are buying tracks from eSymphony. You want to get an overview of how many customers live in each country. This means you will need to group your data.

### Select the Country and the total number of customers for each country.
### Group the results by country.

-- Select the country and the total number of customers
SELECT country, COUNT(*) AS Total
FROM CUSTOMER
-- Group the results by country
GROUP BY country

## Advanced grouping
* You are interested in knowing how much money is coming in from cities in the USA and Canada. This information can be found in the Total column of the Invoice table.
* To solve this problem, you will need to combine multiple statements that you've seen earlier in this chapter, such as aggregate functions, WHERE, GROUP BY, and ORDER BY.

### Select the billing country, billing city
### Add a filter to only select rows with billing countries in 'Canada' or the 'USA'.

-- Select the BillingCountry, BillingCity
SELECT billingcountry, billingcity
FROM Invoice
-- Filter on BillingCountry 
WHERE BillingCountry IN ('Canada', 'USA')

### Select the total invoice amount for each country and group the results by billing country and billing city.

-- Select the BillingCountry, BillingCity, and total amount
SELECT BillingCountry, BillingCity, SUM(total) AS "Total invoice amount"
FROM Invoice
-- Filter on BillingCountry 
WHERE BillingCountry IN ('USA', 'Canada')
-- Group by BillingCountry and BillingCity
GROUP BY BillingCountry, BillingCity

### Sort the results in descending order of the total invoice amount.

-- Select the BillingCountry, BillingCity, and total amount
SELECT BillingCountry, BillingCity, SUM(Total) AS "Total invoice amount"
FROM Invoice
-- Filter on BillingCountry 
WHERE BillingCountry IN ('USA', 'Canada')
-- Group by BillingCountry and BillingCity
GROUP BY BillingCountry, BillingCity
-- Sort the results
ORDER BY SUM(Total) DESC

## Restricting groups
* Earlier you created an overview of how many eSymphony customers live in each country. The output was a long list. Now, you want to restrict your results and only display countries with more than four customers. Since you grouped your output by country, you will now need to exclude values on a group-level rather than a row-level.

### Run the query. Note that it throws an error.
### Adapt the query to show countries with more than four customers.

-- Adapt the query below to show the correct results
SELECT Country, COUNT(*) AS Customers
FROM Customer
GROUP BY Country
HAVING COUNT(*) > 4

## More restricting
* There are multiple positions possible for eSymphony employees:
 * Title:
 * General Manager 
 * IT Manager
 * IT Staff
 * Sales Manager
 * Sales Support Agent
 
* You are interested in setting up a mentoring program. In positions where there are multiple employees, more senior members will coach more recent hires of the team. To do this you decide to generate a list with the title and hire date of the most recent addition to the team, and this for each position.

### Select the employee Title and the hire date of the most recent hire from the Employee table.
### Group the results by title.

-- Select the title and the date of the most recent hire
SELECT title, MAX(hiredate) AS "Most recent hire date"
-- The data comes from the Employee table 
FROM EMPLOYEE
-- Group by title
GROUP BY title

### Exclude groups with more than one employee sharing the same title. This ensures that there are multiple members in a team, so that more recently hired employees can actually have a mentor.

-- Select the title and the date of the most recent hire
SELECT Title, MAX(HireDate) AS "Most recent hire date"
-- The data comes from the Employee table 
FROM Employee
-- Group by title
GROUP BY Title
-- Exclude teams with only one member
HAVING COUNT(title) > 1

**Note that the aggregates in the SELECT and HAVING statements don't have to match.**

## Combining WHERE and HAVING
* You are interested in knowing which countries are bringing in the most revenue for eSymphony. More specifically, you want to list the countries with a total invoice amount of over $100. You have been informed that the data registered in Paris might be incorrect, so you decide to exclude Parisian invoices from your analysis.

* To answer this question, you will need to use both WHERE and HAVING to filter the data.

### Select the BillingCountry and the total invoice amount for each country.
### Group the results by country.
### Restrict to groups with a Total invoice amount of more than 100.

-- Select the BillingCountry and the total billing amount
SELECT BillingCountry, SUM(total)
FROM Invoice
-- Group by billing country
GROUP BY BillingCountry
-- Exclude groups with an invoice amount of more than 100
HAVING SUM(total) > 100

### Filter out rows where the billing city is 'Paris'.

-- Select the BillingCountry and the total billing amount
SELECT BillingCountry, SUM(Total)
FROM Invoice
-- Filter out invoices from Paris
WHERE BillingCity <> 'Paris'
-- Group by billing country
GROUP BY BillingCountry
-- Exclude groups with an invoice amount of more than 100
HAVING SUM(Total) > 100

**Note that it was important to use WHERE to filter out the relevant rows before using HAVING to exclude the appropriate groups.**