## Inner joins

* Let's start combining data from multiple tables! The sales support department received a call from a customer asking to speak to the employee that helped her with her purchase. You decide to get them the necessary information. You know that the customer's name is Mark Philips.

To get the name of the employee, you will need to use data from both the Customer and the Employee tables. Let's make sure this customer gets in touch with the right employee.

### Select the first and last names from the Customer and the Employee tables.
### Inner join the Customer table to the Employee table.
### You should match the tables on the SupportRepId field in Customer and the EmployeeId field in Employee.

-- Select the customer's and employee's first and last names
SELECT c.FirstName, c.LastName, e.FirstName, e.LastName
-- Join the Customer and the Employee tables
FROM Customer c
INNER JOIN Employee e
	-- Complete the common joining column
	ON c.SupportRepId = e.EmployeeId;

### Filter on the customer with first name 'Mark' and last name 'Philips'.

-- Select the customer's and employee's first and last names
SELECT c.FirstName, c.LastName, e.FirstName, e.LastName
-- Join the Customer and the Employee tables
FROM Customer c INNER JOIN Employee e
	-- Complete the common joining column
	ON c.SupportRepId = e.EmployeeId
-- Filter on the customer's first and last name
WHERE c.FirstName = 'Mark' AND c.LastName = 'Philips'

## Using USING
* eSymphony wants to thank their most loyal customer by sending them a gift card. You are tasked with identifying the customer that has spent the most money at the company.

You are not sure what convention the person that will be running your query prefers, so you decide to show your SQL skills by using the USING clause as well as ON in your join.

### Select the first and last name from the Customer table and the Total amount spent from the Invoice table.
### Perform an inner join between Customer and Invoice using the CustomerId column.

-- Select the customer first and last name, and the total amount
SELECT c.FirstName, c.LastName, i.total
-- Join the Customer and the Invoice tables
FROM Customer c INNER JOIN Invoice i
	-- Complete the common joining column
	ON c.customerid = i.customerid

### Select the aggregated total amount for every customer and group the results by customer first and last name.
### Order the result by the total amount in descending order.

-- Select the customer first and last name, and the total amount
SELECT c.FirstName, c.LastName, SUM(i.Total) AS TotalAmount
-- Join the Customer and the Invoice tables
FROM Customer c INNER JOIN Invoice i
	-- Complete the common joining column
	ON c.CustomerId = i.CustomerId
-- Group the result by customer name
GROUP BY c.FirstName, c.LastName
-- Order by the total amount in descending order
ORDER BY TotalAmount DESC

### Adapt your query to use the USING clause instead of ON

-- Select the customer first and last name, and the total amount
SELECT c.FirstName, c.LastName, SUM(i.Total) AS TotalAmount
-- Join the Customer and the Invoice tables
FROM Customer c INNER JOIN Invoice i
	-- Complete the common joining column
	USING(CustomerId)
-- Group the data by customer name
GROUP BY c.FirstName, c.LastName
-- Order by the total amount in descending order
ORDER BY TotalAmount DESC

## Joining multiple tables
* This time around eSymphony wants to know what tracks were bought the most in the USA. With this information they can help understand the demographics in this country and set up a marketing campaign.

### Select the track name and billing country.
### Complete the join clauses to join Track with InvoiceLine, and InvoiceLine with Invoice.

-- Select the track name and billing country
SELECT t.name, i.billingcountry
-- Join the data in the Track, InvoiceLine, and Invoice tables
FROM Track t INNER JOIN InvoiceLine il 
    ON t.TrackId = il.TrackId
    INNER JOIN Invoice i 
   	ON il.InvoiceId = i.InvoiceId

### Count the number of times a track appears in the table and group by track name.
### Order by count in descending order.

-- Select the track name and count
SELECT t.Name, COUNT(*)
-- Join the data in the Track, InvoiceLine, and Invoice tables
FROM Track t INNER JOIN InvoiceLine il 
    ON t.TrackId = il.TrackId
    INNER JOIN Invoice i 
    ON il.InvoiceId = i.InvoiceId
-- Filter on the USA 
WHERE i.BillingCountry = 'USA'
-- Group by track name
GROUP BY t.name
-- Order by count in descending order
ORDER BY Count(*) DESC

## Left outer join
* eSymphony's marketing department has noticed that songs in playlists get purchased more often. Since there's a Led Zeppelin anniversary coming up, they want to know how many songs composed by Jimmy Page, the founder of the band, are not in a playlist yet.
 You decide to use a left outer join to solve this problem. By doing this, you are sure all tracks, even the ones that aren't included in a playlist, are shown.

### Perform a left outer join between the relevant tables.
### Match the tables on the TrackId field.

SELECT t.TrackId, t.Composer, t.Name, p.PlaylistId
-- Perform a left outer join
FROM Track t LEFT OUTER JOIN PlaylistTrack p
	-- Match on track id
	ON t.TrackId = p.TrackId
-- Filter on composer
WHERE t.composer = 'Jimmy Page'

## Right outer join
* This time you want to figure out which tracks have never been sold. With this information eSymphony can limit the songs on offer and do some more targeted sales. They want you to focus on Miles Davis specifically because they noticed that jazz is not selling particularly well.
* The company has asked you to do this by using a right outer join. Feels like they are being weirdly specific in their request but you decide to go along with it.

### Perform a right outer join between the relevant tables.
### Match the tables on the TrackId field.

SELECT t.TrackId, t.Name, i.InvoiceId, i.Quantity
-- Perform a right outer join
FROM InvoiceLine i RIGHT OUTER JOIN Track t
	-- Match on track id
	ON i.TrackId = t.TrackId

### Filter on tracks with 'Miles Davis' listed as the composer.

SELECT t.TrackId, t.Name, i.InvoiceId, i.Quantity
-- Perform a left outer join
FROM InvoiceLine i RIGHT OUTER JOIN Track t
	-- Match on track id
	ON i.TrackId = t.TrackId
-- Filter on composer
Where Composer = 'Miles Davis'

## Cross joins
* For a business to be successful, it's important to treat your most loyal customers well. You'd like to make sure that the support team is aware of who these customers are, so that they can prioritize their requests. You'd like to create a table where each of the support agents gets matched to each customer that spent at least $45 with eSymphony.

### Select the first name and the last name of the employees and customers, and cross join the customer table with the employee table, alias the customer table as c and the employee table as e.

-- Select first and last names
SELECT e.FirstName || ' ' || e.LastName AS "Employee",
       c.FirstName || ' ' || c.LastName AS "Customer"
-- Join Employee with Customer
FROM EMPLOYEE e CROSS JOIN CUSTOMER c

### Time to reduce the scope of the query! Only Sales Support Agent should investigate these customers, so let's filter on those.

-- Select first and last names
SELECT e.FirstName || ' ' || e.LastName AS "Employee",
       c.FirstName || ' ' || c.LastName AS "Customer"
-- Join employee with customer
FROM Employee e CROSS JOIN Customer c
-- Filter for sales support agents only
WHERE e.title = 'Sales Support Agent'

### Now let's get the total amount customers have spent with eSymphony. Join the Invoice table, and select the sum of the "Total" column. The GROUP BY clause has been added for you.

-- Select first and last names
SELECT e.FirstName || ' ' || e.LastName AS "Employee",
       c.FirstName || ' ' || c.LastName AS "Customer",
	   SUM(i.Total) AS "Total"
-- Join Employee with Customer
FROM Employee e CROSS JOIN Customer c 
-- Join with Invoice
	INNER JOIN INVOICE i ON c.CustomerId = i.CustomerId
-- Filter for support agents only
WHERE e.Title = 'Sales Support Agent'
GROUP BY e.FirstName, e.LastName, c.FirstName, c.LastName

### Filter for customers that spent $45 or more.

-- Select first and last names
SELECT e.FirstName || ' ' || e.LastName AS "Employee",
       c.FirstName || ' ' || c.LastName AS "Customer",
	   SUM(i.total) AS "Total"
-- Join Employee with Customer
FROM Employee e CROSS JOIN Customer c
-- Join with Invoice
	 INNER JOIN Invoice i ON c.CustomerId = i.CustomerId
-- Filter for support agents only     
WHERE e.Title = 'Sales Support Agent'
GROUP BY e.FirstName, e.LastName, c.FirstName, c.LastName
-- Filter for customers that spent $45 or more
HAVING SUM(i.Total) >= 45

**CROSS JOINs are pretty rare. There were easier ways to get the answer we were looking for here. However, they are still part of the Oracle certification, and sometimes you need them, so it's good to know they exist, and how to use them. On to SELF JOINs!**

## Self joins
* People who love music also love to discuss it or discover new artists. eSymphony is thinking about organizing a meetup to gather customers from a same city. That's not all: they would like to organize a speed meeting session, so that all customers get to speak with each other and exchange at least one artist.
* They tasked you with coming up with a list of customer matches per city.

### Select the city in a first column, as well as the customer's first and last name grouped in a second column called "customer_1". Alias the customer table as c1.

-- Select city in one column, first and last name in another
SELECT c1.City,
       c1.FirstName || ' ' || c1.LastName customer_1
-- Alias Customer table as c1
FROM Customer c1

### Use a self join to select the city and the customer's first and last name grouped in one column called "customer_2". Alias the second customer table as c2. The ON c1.CustomerId > c2.CustomerId ensures you don't get duplicate matches.

-- Select city first and last name in one column
SELECT
    c1.City,
    c1.FirstName || ' ' || c1.LastName customer_1,
    -- Select customer first name and last name in one column
    c2.FirstName || ' ' || c2.LastName customer_2
-- Alias customer table as c1
FROM Customer c1
-- Join customer table on itself
JOIN Customer c2 ON c1.CustomerId > c2.CustomerId

### Right now, you're just matching all customers with each other. Make sure that you match customers only if they live in the same city.

-- Select city first and last name in one column
SELECT
    c1.City,
    c1.FirstName || ' ' || c1.LastName customer_1,
    c2.FirstName || ' ' || c2.LastName customer_2
-- Alias customer table as c1
FROM Customer c1
-- Join customer table on itself
JOIN Customer c2 ON c1.CustomerId > c2.CustomerId
	-- Match customers only if they live in the same city
	AND c1.City = c2.City

## SET OPERATORS

### I want it all
* Are there some eSymphony employees that are also customers of the company? Let's find out!

#### Write a query to get the first name and last name of all employees and customers.

-- Get employees first and last names
SELECT FirstName, LastName
FROM Employee
-- Get customers first and last names
UNION ALL
SELECT FirstName, LastName
From Customer

#### Our query result contains 67 rows. Some employees may also be customers: modify your query to remove duplicates.

SELECT FirstName, LastName
FROM Employee
-- Modify your clause to remove duplicates
UNION
SELECT FirstName, LastName
FROM Customer

## Under pressure
* Are there some tracks that have never been bought? Let's find out.

* For the moment, let's find out which tracks have been bought at least once.

### Find the tracks that appear in the Track table, that also appear in the InvoiceLine one.

-- Get track IDs that appear in InvoiceLine
SELECT TrackId
FROM Track
INTERSECT
SELECT TrackId
FROM InvoiceLine

### Another one bites the dust
* Following up on our track purchase analysis, let's get the tracks that have never been bought.

### Find the tracks that appear in the Track table, that don't appear in the InvoiceLine one.

-- Get track IDs that don't appear in invoiceline
SELECT  TrackId
FROM Track
MINUS
SELECT TrackId
FROM InvoiceLine