# SQL Fundamentals with Datacamp

## SQL strengths
Which of the below scenarios describes a situation in which using SQL would be useful?


### Large amounts of data about many different but related areas of a business are housed in a relational database.

### Use SQL to return a result set of all book titles included in the books table.

SELECT title
FROM books;

### Select both the title and author fields from books.

SELECT title, author
FROM books;

### Select all fields from the books table.

SELECT *
FROM books;

## Making queries DISTINCT

## 1.1)Write SQL code that returns a result set with just one column listing the unique authors in the books table.

SELECT DISTINCT author
FROM books;

## 1.2)Update the code to return the unique author and genre combinations in the books table.

SELECT DISTINCT author, genre
FROM books;

## Aliasing

### Add an alias to the SQL query to rename the author column to unique_author in the result set.

SELECT DISTINCT author AS unique_author
FROM books;

## VIEWing your query

* What if you'd like to be able to refer to it later, or allow others to access and use the results? The best way to do this is by creating a view. Recall that a view is a virtual table: it's very similar to a real table, but rather than the data itself being stored, the query code is stored for later use.

* Add a single line of code that saves the results of the written query as a view called library_authors.

CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

### Check that the view was created by selecting all columns from library_authors.

SELECT *
FROM library_authors

## Limiting results

* Recall that limiting results is useful when testing code since result sets can have thousands of results! Queries are often written with a LIMIT of just a few records to test out code before selecting thousands of results from the database.

### Using PostgreSQL, select the genre field from the books table; limit the number of results to 10.

SELECT genre
FROM books
LIMIT 10;